body {
    background-color: white;
    background-color: #ffffff;
    margin: 8%;
}


/*.container{
    display: flex;
}*/

.header {
    padding-bottom: 60px;
}

.rowContainer {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
}

.input {
    height: 30px;
}

.firstRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.secondRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.box {
    border-style: solid;
    border-color: black;
    border-width: thin;
    width: 200px;
    height: 200px;
    margin: 1%;
}
